@import './styles/variables';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F5F5F5;//#FFFFDD;
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 16px;
  color: $color-dark-grey;
}

// TODO: Here?

a {
  &, &:visited {
    color: $color-link;
    text-decoration: none;
  }

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

h1 {
  margin-top: 0px;
  margin-bottom: $baseline;
  font-size: 24px;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: $baseline / 2;

  &:before {
    content: '●';
    margin-right: $baseline;
    color: $color-link;
  }
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}
