html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFDD;
  font-family: 'Open Sans', Tahoma, sans-serif;
}

// TODO: Here?
p {
  margin: 0;
}
