header {
  margin-bottom: 10px;
}

nav {
  float: right;
}

nav a {
  display: inline-block;
  background: #FFF;
  width: 90px;
  line-height: 45px;
  text-align: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.17);
  border-top: 3px solid #FFF;
}

nav a.active {
  border-top-color: #FF0;
  box-sizing: border-box;
}


nav a + a {
  margin-left: 10px;
}
