@import '../../../../styles/breakpoints';
@import '../../../../styles/variables';

header {
  margin-top: $baseline-4;
  margin-bottom: $baseline;

  @include bp-sm-max {
    margin-top: $baseline;
    margin-bottom: $baseline-2;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

nav {
  a {
    display: inline-block;
    background: #FFF;
    width: 90px;
    line-height: 45px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.17);
    border-top: 3px solid #FFF;
    color: $color-dark-grey;

    &.active, &:hover {
      border-top-color: $color-link;
      box-sizing: border-box;
      color: $color-link;
      text-decoration: none;
    }

    & + a {
      margin-left: 10px;
    }
  }

  @include bp-md {
    float: right;
  }

  @include bp-sm-max {
    display: flex;
    flex-direction: row;
    margin-top: $baseline;

    a {
      flex-grow: 1;
    }
  }
}
