@import '../../../../../styles/variables';

$total-columns: 12;

:host {
  flex-shrink: 0;
  flex-basis: 0;

  @for $i from 1 through $total-columns {
    &.grid-column-width-#{$i} {
      flex-grow: $i;

      &:not(:first-child) {
        margin-left: $baseline-2;
      }
    }
  }
}

.grid-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
