@import '../../../../../styles/variables';

h1 {
  margin: 0px;
  padding: $baseline-2 $baseline-2 $baseline $baseline-2;
}

.achievement {
  padding-bottom: $baseline;
  font-size: 14px;

  & + .achievement {
    padding-top: $baseline * 1.5;
  }

  &:last-child {
    padding-bottom: $baseline-2;
  }
}

.achievement-header, .achievement-title {
  padding: 0px $baseline-2;
}

.achievement-header {
  display: block;
  margin-bottom: $baseline / 2;
  padding-bottom: $baseline / 2;
  border-bottom: 1px solid $color-shadow-border;
  color: $color-grey;
}
