<anselm-grid-row>
  <anselm-grid-column>
    <anselm-text-box>
      <h1 translate="MY_TEXTS"></h1>
      <p [innerHTML]="'PAGE.TEXTS.CONTENT' | translate"></p>
      <p translate="PAGE.TEXTS.DISCLAIMER"></p>
    </anselm-text-box>
  </anselm-grid-column>
</anselm-grid-row>
<anselm-grid-row *ngIf="(contentViews | async).length > 0">
  <anselm-grid-column>
    <anselm-box>
      <anselm-contents [contents]="contentViews | async"></anselm-contents>
    </anselm-box>
  </anselm-grid-column>
</anselm-grid-row>
