<anselm-grid-row *ngIf="contentPage | async as contentPage">
  <anselm-grid-column>
    <anselm-text-box>
      <h1>{{ contentPage.attributes.title }}</h1>
      <div [innerHTML]="contentPage.attributes.description | markdown"></div>
    </anselm-text-box>
  </anselm-grid-column>
</anselm-grid-row>
<anselm-grid-row *ngIf="(contentViews | async).length > 0">
  <anselm-grid-column>
    <anselm-box>
      <anselm-contents [contents]="contentViews | async"></anselm-contents>
    </anselm-box>
  </anselm-grid-column>
</anselm-grid-row>
