@import '../../../../styles/breakpoints';
@import '../../../../styles/variables';

$total-columns: 12;

:host {
  @include bp-md {
    flex-shrink: 0;
    flex-basis: 0;
    display: flex;

    @for $i from 1 through $total-columns {
      &.grid-column-width-#{$i} {
        flex-grow: $i;
      }
    }

    &:not(:first-child) {
      margin-left: $baseline-2;
    }
  }

  @include bp-sm-max {
    &:not(:first-child) {
      margin-top: $baseline-2;
    }
  }
}

.grid-column {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}
