@import '../../../../styles/breakpoints';
@import '../../../../styles/variables';

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  background-image: url('../../../../assets/images/anselm/hands.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: $baseline-2;

  @include bp-xs-max {
    background-image: url('../../../../assets/images/anselm/hands_clipped.png');
  }

  @include bp-sm {
    justify-content: flex-end;
  }

  @include bp-md {
    padding-left: 520px;
    justify-content: center;
  }
}

p {
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 27px;
}
