@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';

input, textarea, button {
  margin-top: $baseline;
}

button {
  float: right;
}

.info {
  margin-top: 90px;
  text-align: center;

  @include bp-sm-max {
    margin-top: 70px;
  }

  &, & a {
    color: #999;
  }
}
