@import '../../../../../../styles/variables.scss';

$box-padding: $baseline-2;
$time-column-width: 140px;

:host {
  display: block;
  position: relative;
  height: 100%;
}

.separator {
  position: absolute;
  width: $time-column-width;
  height: 100%;
  border-right: 1px solid $color-shadow-border;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $box-padding;
}

li {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:before {
    content: none;
  }

  time {
    display: inline-block;
    width: $time-column-width - (2 * $box-padding);
    margin-right: $box-padding * 2;
    text-align: right;
  }

  .event-text:before {
    content: '';
    position: absolute;
    background: $color-white;
    border: 1px solid $color-shadow-border;
    border-radius: 50%;
  }

  &:not(.major) {
    .event-text:before {
      width: $baseline * 1.5;
      height: $baseline * 1.5;
      margin-top: 3px;
      margin-left: (-1.375 * $box-padding) - 0.5;
    }
  }

  &.major {
    font-weight: 600;

    .event-text:before {
      width: $baseline-2;
      height: $baseline-2;
      margin-left: (-1.5 * $box-padding) - 0.5;
      border-width: 2px;
      border-color: $color-dark-grey;
    }
  }
}
