@import '../../../../../styles/sizes';

:host {
  height: 100%;
}

.image-box {
  height: 100%;

  &.hasPadding {
    padding: $baseline / 2;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }
}
