<anselm-grid-row *ngIf="infoPage | async as infoPage">
  <anselm-grid-column>
    <anselm-box>
      <h1 translate="IMPRESSUM"></h1>
      <h2 translate="PAGE.INFO.DISCLAIMER"></h2>
      <div [innerHTML]="infoPage.attributes.responsiblePerson | markdown"></div>
      <ng-container *ngFor="let index of [0,1,2,3,4]">
        <h2 [innerHTML]="'PAGE.INFO.IMPRESSUM.' + index + '.TITLE' | translate"></h2>
        <p [innerHTML]="'PAGE.INFO.IMPRESSUM.' + index + '.CONTENT' | translate"></p>
      </ng-container>
    </anselm-box>
  </anselm-grid-column>
</anselm-grid-row>
