@import '../../../../../styles/variables';

.texts-separator {
  margin-bottom: $baseline;
  padding-bottom: $baseline / 2;
  padding-left: $baseline-2;
  border-bottom: 1px solid $color-shadow-border;
  color: $color-grey;
}

:host > ul {
  padding: $baseline-3 0;

  & > li {
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: $baseline-4;
    }

    ul {
      padding: 0 $baseline-2;
    }

    li:not(:last-child) {
      margin-bottom: $baseline-2;
    }
  }
}

li:before {
  display: none;
}
