<grid-row-component *ngIf="text">
  <grid-column-component>
    <text-box-component>
      <h1>{{text.title}}</h1>
      <p [innerHTML]="text.content"></p>
    </text-box-component>
  </grid-column-component>
</grid-row-component>

<a id="publications"></a>
<grid-row-component *ngIf="text && (text.publications.length > 0)">
  <grid-column-component>
    <text-box-component>
      <publications-component [publications]="text.publications"></publications-component>
    </text-box-component>
  </grid-column-component>
</grid-row-component>

<a id="comments"></a>
<grid-row-component *ngIf="text && (text.comments.length > 0)">
  <grid-column-component>
    <box-component>
      <comments-component [comments]="text.comments"></comments-component>
    </box-component>
  </grid-column-component>
</grid-row-component>
