@import '../../../../styles/sizes';
@import '../box/box';

:host {
  @include box;
}

.image-box {

  &.hasPadding {
    padding: calc(#{$baseline} / 2);
  }

  img {
    width: 100%;
    vertical-align: middle;
  }
}
