figure {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

blockquote {
  p {
    &:before {
      content: '„';
    }

    &:after {
      content: '“';
    }
  }
}

figcaption {
  text-align: right;
}
