<div class="welcome">
  <p>Willkommen auf meiner Website, auf<br/>der ich eine Auswahl eigener <a routerLink="/texts">Texte</a> präsentiere, die ich im Laufe der letzten Jahre zu verschiedenen Anlässen verfasst habe. Um mein Schreiben weiter zu verbessern, freue ich mich über konstruktive Kommentare zu Schreibstil und Inhalt. Außerdem ist es mir ein besonderes Anliegen, über diese Website <a routerLink="/contact">Kontakt</a> zu anderen Veröffentlichungsmedien herzustellen.<br/>Viel Vergnügen beim Lesen!</p>
</div>
