<grid-row-component>
  <grid-column-component>
    <box-component>
      <welcome-component></welcome-component>
    </box-component>
  </grid-column-component>
</grid-row-component>

<grid-row-component>
  <grid-column-component>
    <text-box-component>
      <newest-texts-component></newest-texts-component>
    </text-box-component>
  </grid-column-component>
  <grid-column-component>
    <grid-row-component>
      <grid-column-component>
        <text-box-component>
          <h1 translate="ABOUT_ME"></h1>
          <p translate="PAGE.HOME.ABOUT_ME"></p>
        </text-box-component>
      </grid-column-component>
    </grid-row-component>
    <grid-row-component>
      <grid-column-component>
        <text-box-component>
          <quote-component *ngIf="quote" [quote]="quote"></quote-component>
        </text-box-component>
      </grid-column-component>
    </grid-row-component>
  </grid-column-component>
</grid-row-component>
