<grid-row-component>
  <grid-column-component>
    <text-box-component>
      <p>Willkommen auf meiner Website, auf der ich eine Auswahl eigener <a routerLink="/texts">Texte</a> präsentiere, dich ich im Laufe der letzten Jahre zu verschiedenen Anlässen verfasst habe. Um mein Schreiben weiter zu verbessern, freue ich mich über konstruktive Kommentare zu Schreibstil und Inhalt. Außerdem ist es mir ein besonderes Anliegen, über diese Website <a routerLink="/contact">Kontakt</a> zu anderen Veröffentlichungsmedien herzustellen. Viel Vergnügen beim Lesen!</p>
    </text-box-component>
  </grid-column-component>
</grid-row-component>

<grid-row-component>
  <grid-column-component>
    <text-box-component>
      <h1>Meine neuesten Texte</h1>
    </text-box-component>
  </grid-column-component>
  <grid-column-component>
    <grid-row-component>
      <grid-column-component>
        <text-box-component>
          <h1>Über mich</h1>
        </text-box-component>
      </grid-column-component>
    </grid-row-component>
    <grid-row-component>
      <grid-column-component>
        <text-box-component>
          <blockquote>„A man is a success if he gets up in the morning and gets to bed at night, and in between he does what he wants to do.“ (Bob Dylan)</blockquote>
        </text-box-component>
      </grid-column-component>
    </grid-row-component>
  </grid-column-component>
</grid-row-component>
