<grid-row-component>
  <grid-column-component>
    <box-component>
      <p>Willkommen auf meiner Website, auf der ich eine Auswahl eigener <a routerLink="/texts">Texte</a> präsentieren möchte. Um mein Schreiben verbessern zu können, würde ich mich über Kommentare freuen. Außerdem ist es mir ein besonderes Anliegen, über diese Website <a routerLink="contact">Kontakt</a> zu anderen Veröffentlichungsmedien herzustellen. Viel Vergnügen beim Lesen!</p>
    </box-component>
  </grid-column-component>
</grid-row-component>

<grid-row-component>
  <grid-column-component>
    <box-component>
      Meine neuesten Texte
    </box-component>
  </grid-column-component>
  <grid-column-component>
    <grid-row-component>
      <grid-column-component>
        <box-component>
          Über mich
        </box-component>
      </grid-column-component>
    </grid-row-component>
    <grid-row-component>
      <grid-column-component>
        <box-component>
          Zitat
        </box-component>
      </grid-column-component>
    </grid-row-component>
  </grid-column-component>
</grid-row-component>
