<grid-row-component>
  <grid-column-component>
    <grid-row-component>
      <grid-column-component>
        <text-box-component>
          <h1>Über mich</h1>
        </text-box-component>
      </grid-column-component>
    </grid-row-component>
    <grid-row-component>
      <grid-column-component>
        <box-component>
          <curriculum-vitae-component></curriculum-vitae-component>
        </box-component>
      </grid-column-component>
    </grid-row-component>
  </grid-column-component>
  <grid-column-component>
    <image-box-component imagePath="assets/images/anselm/garden.jpg"></image-box-component>
  </grid-column-component>
</grid-row-component>
<grid-row-component>
  <grid-column-component>
    <text-box-component>
      <h1>Weiterbildungen</h1>
    </text-box-component>
  </grid-column-component>
  <grid-column-component>
    <text-box-component>
      <h1>Auszeichnungen</h1>
    </text-box-component>
  </grid-column-component>
  <grid-column-component>
    <text-box-component>
      <h1>In der Presse</h1>
    </text-box-component>
  </grid-column-component>
</grid-row-component>
