<anselm-grid-row>
  <anselm-grid-column>
    <!--TODO: General css class or component-specific style?-->
    <anselm-grid-row style="flex-grow: 0;">
      <anselm-grid-column>
        <anselm-text-box>
          <h1 translate="ABOUT_ME"></h1>
          <p [innerHTML]="'PAGE.ABOUT_ME.CONTENT.0' | translate"></p>
        </anselm-text-box>
      </anselm-grid-column>
    </anselm-grid-row>
    <anselm-grid-row>
      <anselm-grid-column>
        <anselm-box>
          <anselm-curriculum-vitae></anselm-curriculum-vitae>
        </anselm-box>
      </anselm-grid-column>
    </anselm-grid-row>
  </anselm-grid-column>
  <anselm-grid-column>
    <anselm-grid-row>
      <anselm-grid-column>
        <anselm-image-box imagePath="assets/images/anselm/garden.jpg"></anselm-image-box>
      </anselm-grid-column>
    </anselm-grid-row>
    <anselm-grid-row>
      <anselm-grid-column>
        <anselm-text-box>
          <p [innerHTML]="'PAGE.ABOUT_ME.CONTENT.1' | translate"></p>
        </anselm-text-box>
      </anselm-grid-column>
    </anselm-grid-row>
  </anselm-grid-column>
</anselm-grid-row>
<anselm-grid-row>
  <anselm-grid-column>
    <anselm-box>
      <anselm-achievements category="FURTHER_DEVELOPMENTS" [achievements]="furtherDevelopments | async"></anselm-achievements>
    </anselm-box>
  </anselm-grid-column>
  <anselm-grid-column>
    <anselm-box>
      <anselm-achievements category="AWARDS" [achievements]="awards | async"></anselm-achievements>
    </anselm-box>
  </anselm-grid-column>
  <anselm-grid-column>
    <anselm-box>
      <anselm-achievements category="IN_THE_MEDIA" [achievements]="inTheMedia | async"></anselm-achievements>
    </anselm-box>
  </anselm-grid-column>
</anselm-grid-row>
