<grid-row-component>
  <grid-column-component>
    <grid-row-component>
      <grid-column-component>
        <box-component>
          Text
        </box-component>
      </grid-column-component>
    </grid-row-component>
    <grid-row-component>
      <grid-column-component>
        <box-component>
          CV
        </box-component>
      </grid-column-component>
    </grid-row-component>
  </grid-column-component>
  <grid-column-component>
    <box-component>
      <img src="assets/images/anselm/garden.jpg">
    </box-component>
  </grid-column-component>
</grid-row-component>
<grid-row-component>
  <grid-column-component>
    <box-component>
      1
    </box-component>
  </grid-column-component>
  <grid-column-component>
    <box-component>
      2
    </box-component>
  </grid-column-component>
  <grid-column-component>
    <box-component>
      3
    </box-component>
  </grid-column-component>
</grid-row-component>
