<anselm-grid-row *ngIf="text | async as text">
  <anselm-grid-column>
    <anselm-text-box>
      <h1>{{text.title}}</h1>
      <p [innerHTML]="text.content"></p>
    </anselm-text-box>
  </anselm-grid-column>
</anselm-grid-row>

<a id="publications"></a>
<ng-container *ngIf="text | async as text">
  <anselm-grid-row *ngIf="text.publications.length > 0">
    <anselm-grid-column>
      <anselm-text-box>
        <anselm-publications [publications]="text.publications"></anselm-publications>
      </anselm-text-box>
    </anselm-grid-column>
  </anselm-grid-row>
</ng-container>

<a id="comments"></a>
<ng-container *ngIf="text | async as text">
  <anselm-grid-row *ngIf="text.comments.length > 0">
    <anselm-grid-column>
      <anselm-box>
        <anselm-comments [comments]="text.comments"></anselm-comments>
      </anselm-box>
    </anselm-grid-column>
  </anselm-grid-row>
</ng-container>
