<a routerLink="/texts/{{textEntry.seoId}}" class="texts-entry-title">
  <h2>{{textEntry.title}}</h2>
</a>
<div class="texts-entry-info">
  <a *ngIf="textEntry.commentsCount > 0" routerLink="/texts/{{textEntry.seoId}}" fragment="comments">
    <i class="fa fa-comment-o"></i>
    <span>{{textEntry.commentsCount}}</span>
  </a>
  <a *ngIf="textEntry.publicationsCount > 0" routerLink="/texts/{{textEntry.seoId}}" fragment="publications">
    <i class="fa fa-link"></i>
    <span>{{textEntry.publicationsCount}}</span>
  </a>
</div>
