@import '../../../../../styles/variables';

$box-padding: $baseline-2;
$time-column-width: 80px;

:host {
  display: block;
  position: relative;
  height: 100%;
}

.separator {
  position: absolute;
  width: $time-column-width;
  height: 100%;
  border-right: 1px solid $color-shadow-border;
}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $box-padding;
}

li {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;

  &:before {
    content: none;
  }

  time {
    display: inline-block;
    width: $time-column-width - (2 * $box-padding);
    margin-right: $box-padding * 2;
  }

  .event-information:before {
    content: '';
    position: absolute;
    background: $color-white;
    border: 1px solid $color-shadow-border;
    border-radius: 50%;
  }

  .event-text {
    letter-spacing: -0.1px;
  }

  .event-location {
    font-size: 14px;
    color: $color-grey;
  }

  &:not(.major) {
    .event-information:before {
      width: $baseline * 1.5;
      height: $baseline * 1.5;
      margin-top: 14.5px;
      margin-left: (-1.375 * $box-padding) - 0.5;
    }
  }

  &.major {
    time, .event-text {
      font-weight: 600;
    }

    .event-information:before {
      width: $baseline-2;
      height: $baseline-2;
      margin-top: 12px;
      margin-left: (-1.5 * $box-padding) - 0.5;
      border-width: 2px;
      border-color: $color-dark-grey;
    }
  }
}
