<grid-row-component>
  <grid-column-component>
    <image-box-component imagePath="assets/images/anselm/blue.jpg"></image-box-component>
  </grid-column-component>
  <grid-column-component>
    <text-box-component>
      <h1>Kontakt-Informationen</h1>
      <p>Falls Sie Fragen oder Interesse an einer Kooperation haben, senden Sie mir gerne eine Nachricht über das bereitgestellte Kontaktformular. Über Meinungen zu meinen Texten freue ich mich jederzeit.</p>
    </text-box-component>
  </grid-column-component>
</grid-row-component>
